
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    
    background-color: rgb(56, 78, 126);
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  

}
.container {
    max-width: 800px; /*para darle un maximo de crecimiento en visualizacion*/
    width: 100% ;
    margin: 0 auto; /*el 0 es margen de arriba a abajo y auto es para costados */
    margin-top: 50px;
    height: 200px;
}

.section{
    background-color: #fff;
    display: flex;
    border-radius: 7px;
    padding: 50px;
    margin: 4px;
   
}

.subsection {

    width: 100% 
    
}

.perfil {
    max-width: 100%;
    max-height: 200px;
    border-radius: 15px;
    margin-top: 15px;
}

.circle {
    height: 15px;
    width: 15px;
    background-color: chartreuse;
    border-radius: 30px;

}

.status {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 20px;
    margin-right: 40px;

}

.p-status{
 margin: 0 10px;
}

.presentacion{
    font-size: x-large;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.botones{
    padding: 20px;
}


.cv{
    border-radius: 25px;
    padding: 20px;
}



.cv:hover{
    
    background-color: black;
    color:#fff;
    cursor: pointer;
}

.logo {
    border-radius: 100%;
    background-color: black;
    padding: 1px;
    width: 75px;
    height: 70px;
    margin-right: 10px;
}

.secciones {
    width: 290px;
    font-size:large;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
 .secciones button {
    border-color:rgba(248, 243, 243, 0.336)  ;
    border-radius: 10px
 }

 .field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #777;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }
  .accordion {
    width: 100%;
  }
  .separacion{
    display: flex;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 60px;
  }
  .fila-1 {
    width: 100%;
  }
  .name,
  .email,
  .message {
    margin-bottom: 10px;
  }
  #from_name,
  #email_id {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #message {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
   .lista{
    ul {
      list-style-type: square;
     }
     
     ul li {
      line-height: 1.5;
     }
     
   }
/*prioridad al id, luego a la clase y luego al elemento*/
.fcc-btn{

  color: #050505;
  padding: 10px 10px;
  text-decoration: none;

}

dialog {
  max-width: 600px;
  max-height: 600px;
  
  border: 8px solid #321c3b;
  
}

/* Fondo modal: negro con opacidad al 50% */
.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

/* Ventana o caja modal */
.contenido-modal {
  position: relative; /* Relativo con respecto al contenedor -modal- */
  background-color: rgb(245, 245, 247);
  margin: auto; /* Centrada */
  padding: 10px;
  width: 60%;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s
}

/* Animación */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Botón cerrar */
.close {
  color: black;
  float: left;
  font-size: 100px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
p img {
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
}

